[2019-07-30 02:03] caiya55 opened #1 "Many thanks and one question"
Thanks very much for the pose estimation APIs for coral. My question is did you use the open pose as the backbone network?

[2019-07-30 20:19] mtyka commented on #1
Nope, the network is based on https://arxiv.org/abs/1803.08225 and is the same as the one we released for JavaScript (see README.md for more details)

[2019-07-30 20:19] #1 closed

[2019-08-13 07:58] codingquark opened #2 "Update README to describe .tflite and edge TPU model generation steps"
It would be great if README also showed how the quantized graph (tflite) was generated.

This will also help people with their own custom trained models and with other versions of PoseNet (MobileNet 050, 100).

[2019-08-15 23:42] wondersmiths opened #4 "How to get the output through the streaming server in edge TPU"
Regarding the example file pose_camera.py, I would like to get some advice to get the video output using streaming server like the example here: https://coral.withgoogle.com/docs/dev-board/camera/#using-a-streaming-server. Not sure how to get this out.

[2019-08-21 21:15] mtyka commented on #4
You mean you want to stream the results of PoseNet out like the quoted streaming example ? That feature isn't supported in tis pose net example out of the box, so you'd need to port over the streaming-relevant parts of the code from the streaming server example.

[2019-08-21 21:15] #4 closed

[2019-08-21 21:19] mtyka commented on #2
In principle the quantized graph was created using quantization aware training (https://github.com/tensorflow/tensorflow/tree/r1.13/tensorflow/contrib/quantize) but with respect to PoseNet specifically, unfortunately the training data and training scripts have not yet been released by the PoseNet team, so until they do so we're unable to offer these here for Coral either.

[2019-08-21 21:19] #2 closed

[2019-08-25 10:12] kmchinadragon opened #5 "about API 2.11.1 upgrade"
As you may see, we can not upgrade Dev board just because we can not visit googl.com or similar web sites.  I try to copy the libedgetpu_arm64.so to /usr/lib/aarchxxxx  and use it under C++.  The demo says can not recognize DecompOP with version 1, which means the dev board still under version 1.0, but the lib is version 2.11.1 API,  how can we do to work around it by not using internet upgrading?

[2019-08-26 15:09] jmarsico opened #6 "outputstride, imagescalefactor or other accuracy controls"
Is there a way to modify the outputstride or imagescalefactor as we can in ts.js? I'm getting 30fps with the USB unit, which is great, but i'd prefer better accuracy at the cost of speed.

[2019-09-03 17:28] #6 closed

[2019-09-12 04:35] sctse999 opened #7 "How to stream the video to a file?"
I tried added this line

[code]
to the pipeline but it looks like that the EOS event is not sent to the pipeline and therefore the file is not streamable as reported by ubuntu movie player.

[2019-09-29 06:37] l0stb1t opened #8 "Will there be Resnet model ?"
Tfjs has a better accuracy resnet model. Will it be ported to coral ?

[2019-10-01 06:02] mtyka commented on #8
yes. Hang tight, I hope to have it out soon.

[2019-10-01 06:03] #8 closed

[2019-10-01 16:51] ssepulveda opened #9 "Random errors leading to core dumped"
Host: Ubuntu 18.04, x86_64
Edge TPU runtime: Installed libedgetpu1-std from repo `deb https://packages.cloud.google.com/apt coral-edgetpu-stable main`, version 12-1
Demo: checked out master at 9a7b16c

After running `install_requirements.sh` script, I run `python3 pose_camera.py` and
get different errors. I've even tried different USB ports:

[code]
[code]

I've not seen any pattern on how they ap

[2019-10-04 03:33] robotastic opened #10 "Run headless on Dev Board inside a Container"
I am trying to run Posenet inside a Docker container, on the DevBoard. For the container, I am using a Debain:latest base image. I have done an 'apt-get install weston' with the image.

Running posenet_camera.py on the base Mendel install works fine. However, if I try that inside a container it crashes with an error `glfilterbin`. The weird thing is, if I attach a monitor it can run inside the sam

[2019-10-04 20:55] robotastic commented on #10
I have managed to get it to work. I pulled from the coral-main deb servers. I think that version of gstreamer maybe different. There is a lot of latency when running it inside a container though. I wonder if this is because of buffered access to the camera stream. Does anyone have advice for working with Gstreamer / Weston inside a container?

[code]

To run:
`docker  run  --privileged -v /dev/bus

[2019-10-06 01:15] smertrios opened #11 "Unable to load/allocate model with TFLite API"
Hi, if possible, what is needed to be able to load one of the models using the TFLite API?

 If not, what are the differences with TFLite vs. Edget-TPU API when dealing with CustomOP? Where do those resides for this project?

[code]

=> _Encountered unresolved custom op: **PosenetDecoderOp**.Node number 1_

Thank you.

[2019-10-09 17:16] mtyka commented on #11
The custom Op is implemented in our API. It is not currently possible to run these posenet models using the normal tflite API, only using our API. We're working on getting that supported soon.

[2019-10-09 17:16] #11 closed

[2019-10-18 05:35] Chegde8 opened #12 "Disable video display in pose_camera.py"
Hi,
I need to disable the video output displayed by pose_camera.py.
I am unable to understand where in the code the command to display video on a screen is. Could someone please point me to this?

[2019-11-06 18:11] mtyka commented on #12
The video display is part of the gstreamer pipeline.
Look at gstreamer and see how each pipeline ends in either "waylandsink" or "autovideosink".
If you want a different sink, just replace that with one of the many sinks gstreamer provides.
If you want to completely disable it you can replace it with "fakesink". However in that case I would
suggest removing the entire display branch of the 'tee' a

[2019-11-06 18:11] #12 closed

[2019-11-06 18:11] #10 closed

[2019-11-07 21:58] agusit7 opened #13 "Resizing video output on Coral Dev Board with HDMI monitor"
I'm trying to get the output video from the pose-camera demo to run full-screen on the Dev Board through an HDMI monitor. Is this supported? How can I modify the demo to change just the output video without increasing the input image? I'm not interested in resolution, I just want to fill the whole screen on a 4k monitor.

[2019-11-10 07:05] willfu opened #14 "about the fps on raspberry pi"
@mtyka thanks for the work. I am curious about the frame rate on raspberry pi. do you have any data for that?

[2019-11-12 19:55] jonasl commented on #13
This project is using GStreamer and rendering to a full screen window is supported and done like for any other GStreamer app.
That is, the application is responsible for creating and managing the window. It's common and convenient to use GTK for this but there are other options. If you're writing your app in C/C++ this example shows how to create and configure glimagesink in a Wayland window:
http

[2019-11-12 19:55] #13 closed

[2019-11-14 09:29] JimWest commented on #14
I've tried it, Raspberry PI 4 with Intel Realsense, set to 640 x 480 and 60 FPS output (image not resized for network):

posenet_mobilenet_v1_075_721_1281 : ~8 FPS
posenet_mobilenet_v1_075_481_641: ~ 15 FPS
posenet_mobilenet_v1_075_353_481:~ 30 FPS

[2019-11-16 00:12] willfu commented on #14
thanks @JimWest

[2019-11-16 00:12] #14 closed

[2019-11-20 17:50] wb666greene opened #15 "adjust USB cam frame rate?"
I've a lame webcam:

	Type        : Video Capture
	Pixel Format: 'YUYV'
	Name        : YUYV 4:2:2
		Size: Discrete 1280x720
			Interval: Discrete 0.100s (10.000 fps)
			Interval: Discrete 0.133s (7.500 fps)
		Size: Discrete 640x480
			Interval: Discrete 0.033s (30.000 fps)
			Interval: Discrete 0.050s (20.000 fps)
			Interval: Discrete 0.067s (15.000 fps)
			Interval: Discrete 0.100s (10.000 fps)

[2019-11-27 17:43] jonasl commented on #13
This demo is now updated to run in full screen by default on the coral dev board.

[2019-11-27 17:50] jonasl commented on #15
To change the frame rate, try this change:

[code]

Also note that USB webcams typically can't supply raw YUV frames at high rates due to the limited  transfer speed of USB. They typically also support JPEG or h264 streams for higher resolutions. If that's the case for yours, you can run the demo with

python3 pose_camera.py --jpeg
or
python3 pose_camera.py --h264

That may unlock higher resolutio

[2019-11-30 06:30] #15 closed

[2019-12-02 14:50] wb666greene commented on #15
@jonasl
Thanks for the answer.

[2019-12-03 13:02] bhack opened #16 "Direct pose"
What do you think about anchor-free inspired approaches like https://arxiv.org/abs/1911.07451?
Are these model plausible for Coral devices?
Do you plan to have an example here?

If you can talk internally with other TF teams see also HUB:
https://github.com/tensorflow/hub/issues/424

And related:
https://github.com/tensorflow/models/issues/4676

[2020-01-06 17:58] mehmandarov opened #17 "no element "glvideoflip" error for coral dev board"
pose_camera.py seems to be failing with:

[code]

[2020-01-09 23:41] hellsythe commented on #17
i have the same error, any solution?

[2020-01-10 01:00] mtyka commented on #16
Hi,

This seems certainly an interesting approach though i'm not deeply familiar with it. The convolutional parts of this would likely run on EdgeTPU no problem.
The post processing will have to get done on CPU i suspect.
We don't currently plan to provide such models as pretrained/canned examples.

[2020-01-10 01:00] #16 closed

[2020-01-10 01:07] mtyka commented on #5
I dont think you'd be able to unfortunately :(
If you are able to obtain https://dl.google.com/coral/mendel/enterprise/mendel-enterprise-day-13.zip you can reflash you dev board with that and that comes with 2.11.1

[2020-01-10 01:07] #5 closed

[2020-01-10 01:16] mtyka commented on #17
Are you running Mendel Chef or Mendel Day ? Please be sure to reflash your board with the latest
Mendel release (Day) from here: https://coral.ai/docs/dev-board/get-started/
I just flashed a clean board and followed those instructions and the pose examples should work out of the box (be also sure to run install_requirements.sh after setting up the board and cloning this repo)

[2020-01-10 01:16] mtyka commented on #17
Feel free to reopen this issue if the issue persists.

[2020-01-10 01:16] #17 closed

[2020-01-10 01:21] mtyka commented on #9
Are you still having this issue with the latest versions ?

[2020-01-10 01:22] mtyka commented on #7
I'm not sure - this is more a general gstreamer issue than coral-specific. I'd recommend asking in that community for help.
How are you closing the capture ? Ctrl-C ?

[2020-01-12 02:07] willfu commented on #8
@mtyka any progress for it? looking forward to it. :)

[2020-01-31 05:14] 12345k opened #18 "Failed to allocate tensors."
Device: Coral Dev board
After running install_requirements.sh script, I run python3 simple_pose.py and
get different errors.

mendel@bored-horse:~/project-posenet$ python3 simple_pose.py
--2020-01-31 05:12:31--  https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Hindu_marriage_ceremony_offering.jpg/640px-Hindu_marriage_ceremony_offering.jpg
Resolving upload.wikimedia.org (upload.wikimedia.o

[2020-02-06 08:16] AlexTraan opened #19 "Request Posenet *.tflite file (not compilied with edge_tpu_compiler yet)"
Hi Team,
Currently, this repository only contained *_edgetpu.tflite file for posenet. I would like to request *.tflite file (not compilied with edge_tpu_compiler yet) for co-compile 2 model purpose.

Can you please help me?

[2020-02-08 05:21] mtyka commented on #19
Done.

[2020-02-08 05:21] #19 closed

[2020-02-08 06:37] AlexTraan commented on #19
Hi Mtyka,

I cannot compile (with edge tpu compiler) successfull for your uploaded *.tflite file. The error happen "Edge TPU Compiler version 2.0.267685300
ERROR: Encountered unresolved custom op: PosenetDecoderOp.
ERROR: Node number 32 (PosenetDecoderOp) failed to prepare.
"
Do I need any specific parameter when run edge_tpu_compiler?

Many thank

[2020-02-08 07:08] mtyka commented on #19
Hmm, yeah, unfortunately what you are trying todo may not be possible, or at least be a bit tricky right now. PoseNet requires a custom op at the end and the compiler won't compile graphs with custom ops.
The only way currently is to manually cut the graph (using toco), compile, and then stitch it back together (using this tool: https://github.com/google-coral/edgetpu/blob/master/src/cpp/tools/joi

[2020-02-08 07:25] AlexTraan commented on #19
Hi mtyka,

Thank you for your reply.

"In theory this would work with co-compilation but i've never tried it."

"The only way currently is to manually cut the graph (using toco), compile, and then stitch it back together (using this tool: https://github.com/google-coral/edgetpu/blob/master/src/cpp/tools/join_tflite_models.cc)."

Thank you

[2020-02-08 07:33] AlexTraan commented on #19
Hi mtyka,

For co-compilation Posenet purpose, i would like to confirm the flow:
1> manually cut the graph -> output: tflite file withtout PosenetDecoderOp (named posenet_middle.tflite)
2> Co-compile posenet_middle.tflite with model_x.tflite file -> output: posenet_middle_edgetpu.tflite and model_x_edgetpu.tflite file
3> Stick the PosenetDecoderOp back to posenet_middle_edgetpu.tflite (using  http

[2020-02-08 20:10] rreagan3 opened #20 "Pi 4 w/ 4GB RAM getting a memory allocation error"
I have a USB accelerator and a Raspberry Pi 4 w/ 4GB RAM. I've installed the software with no errors, but when I run `python3 pose_camera.py`, I get this output:

[code]

I'm not really sure why I'm getting a memory allocation error - I should have more than enough for this application with 4GB RAM, right?

[2020-02-08 20:44] #20 closed

[2020-02-08 20:46] rreagan3 commented on #20
multiple reboots later, it just worked ¯\_(ツ)_/¯

[2020-02-10 09:57] AlexTraan commented on #19
@mtyka : Can you help me?

[2020-02-10 23:41] mtyka commented on #19
I uploaded version of the network without the decoder custom op.

[2020-02-11 07:43] AlexTraan commented on #19
@mtyka Thank for your uploaded.

However, in order to stick the PosenetDecoderOp back to co-compiled model, i also need a *.tflite file that included only PosenetDecoderOp. Can you continue to help me?

[2020-02-12 13:02] GOBish opened #21 "Multi-person detection issues"
I've been having some issues when there are multiple people in the frame and the model connecting the people together, instead of recognizing the separate joints/pieces.
According to this article
https://medium.com/tensorflow/real-time-human-pose-estimation-in-the-browser-with-tensorflow-js-7dd0bc881cd5
there is a separate posenet model (or algorithm it looks like) which works better when there ar

[2020-02-23 03:28] mtyka commented on #21
We're working on an update that will resolve some of these issues (will be part of next release).

[2020-02-23 03:28] #21 closed

[2020-02-24 14:40] AlexTraan commented on #19
@mtyka
Thank you for your helping so far.

But i still need a *.tflite file that included only PosenetDecoderOp, can you help me?

[2020-03-02 20:25] mtyka commented on #19
Hi, sorry for the delay. I've uploaded the customop stub as a standalone model.

[2020-03-03 01:56] AlexTraan commented on #19
@mtyka Hi, i got it.
Thank you.

[2020-03-03 06:06] Jaspereclipse opened #23 "gi.repository.GLib.Error: gst_parse_error: no element "freezer""
[code]
I am trying to run this on raspberry pi with edgeTPU but have the above error. How can I fix it?

[2020-03-06 16:25] Namburger commented on #18
@12345k can you share outputs of this command?
[code]
This isn't reproducible for me, I suspecting that maybe you have an outdated system?

[2020-03-12 11:20] tomruarol opened #24 "gdk_monitor_get_scale_factor: assertion 'GDK_IS_MONITOR (monitor)' failed"
I am trying to run `python3 pose_camera.py --h264` and I get the following error:

[code]

**Note** I am getting the video source from a rtsp link from a camera and the Mendel version and Python API version I am using are:

- Python API Version ---> 2.13.0  ---> pip3 list

- Mendel Version --> 4.0 (Mendel Day) ---> cat /etc/mendel_version

[2020-03-12 14:54] mtyka commented on #24
I've never tried it with rtsp:// before. GStreamer errors are notoriously useless, but somehow the pipeline can't be constructed.
It's possible the your source doesn't support the desired "video/x-h264,width=640,height=480,framerate=30/1 !" mode. You may have to query the source capabilities and figure out the correct mode.
Another idea: does the device have a monitor attached or x forwarding enab

[2020-03-24 16:48] marospekarik opened #25 "Anyone trying to run this on windows?"
I'm curious if it works for windows. I'm having troubles installing gstreamer

[2020-03-26 00:52] josebagar commented on #23
Hi @Jaspereclipse. I got this same problem when running the code in Fedora 31 and solved it by installing the `python3-gstreamer1` package, so in your case I would double-check that you have installed the required dependencies by running [`install_requirements.sh`](../blob/master/install_requirements.sh).

[2020-03-27 07:27] AlexTraan commented on #19
@mtyka Hi,

I tried to co-compile, but when run:  ./join_tflite_models posenet_mobilenet_v1_075_481_641_quant_edgetpu.tflite customop_decoder_stub.tflite

i faced crash with log:
"WARNING: Logging before InitGoogleLogging() is written to STDERR
F0327 14:01:45.326503 18376 utils.cc:65] Check failed: ReadFile(file_path, file_content, &reporter) == kEdgeTpuApiOk (1 vs. 0)
*** Check failure stack trac

[2020-03-30 16:09] mtyka commented on #19
Hmm. This might not work for now unfortunately. I recommend for now just running the custom_op.tflite separately - it won't matter much since it runs on the CPU anyways.

[2020-03-30 16:35] AlexTraan commented on #19
@mtyka i have tried custom_op.tflite using tflite_runtime Python but it failed to allocated tensor.

[2020-04-01 20:34] garyscetbon opened #26 "GStreamer Segmentation Fault on Raspberry Pi 4"
I ran install_requirements.sh but I'm getting this issue when running pose_camera.py on a Raspberry Pi 4 (using VNCViewer over ssh for remote display):
[code]
Any suggestion?

[2020-04-02 15:45] mtyka commented on #26
Are you both using VNCViewer ? Could you try a local run ? Which version of the API are you using ?

[2020-04-02 15:51] sviluppoh commented on #26
Yes, i'm using VNCViewer. The API version should be the latest. I've cloned this repo and installed all the dependencies

[2020-04-02 16:00] sviluppoh commented on #26
tried to run with hdmi monitor.. it works. Thank you so much @mtyka

[2020-04-02 16:25] mtyka commented on #26
Ok, sounds like it's an error todo with VNCViewer. I'm not sure what the fix is there, you may have to tweak the gstreamer pipeline's final sink to make it compatible. If you figure it out, let us know we can add a note for future users. Thanks !

[2020-04-02 21:39] garyscetbon commented on #26
Made it work with VNCViewer by modifying the GStreamer pipeline: replace ```autovideosink``` with ```ximagesink``` in [gstreamer.py](https://github.com/google-coral/project-posenet/blob/da95b4f2724b13d981baa0fdd77cf87745a79f04/gstreamer.py#L353).

[2020-04-02 21:39] #26 closed

[2020-04-03 10:16] ThePersonalDoprano opened #27 ""self._output_offsets" elements should be integers"
I'm running the last version of PoseNET on a Google Coral TPU connected to a JetsonNano.
My Python version is 3.6.9

I'm calling the following function in my code:
`poses, inference_time = engine.DetectPosesInImage(np.uint8(resized))`
Where `resized` is an image with the following shape: (481, 641, 3)
And i get the following error:

  File "/home/gabby/.vscode-server/extensions/ms-python.python-20

[2020-04-15 05:36] Cyl3el2Cleal2 opened #28 "let me ask you a question."
How many fps can coral dev board run?
I need realtime pose report but raspi is lower performance than my expected.
Thank you.

[2020-04-15 12:20] YLTsai0609 opened #29 "Where can I collect the keypoints and do activity recognition?"
Hi.
I'm going to use this to do a human activity recognition project.
I want to collect the keypoints each frame into a numpy array.
After getting a sequence of keypoints.
I'll send it into a model to predict human action.

I want to know where can I do such a logic above?
It's seems that the streamming function just streamming out all of the frames in `gstreammer.py` line 159 `pipeline.set_state(

[2020-04-15 15:09] mtyka commented on #28
It depends a lot on the resolution you want to use. You can get ~20-25 FPS at 720p on a RPI4+Einstein and on the devboard. More for lower resolutions.
Often however the bottle neck is not the TPU but just moving the image buffers around. High FPS at high res requires using the GPU as well for processing.

[2020-04-15 15:13] mtyka commented on #29
you can do that in either of the callbacks run_inference or render_overlay.
For example here: https://github.com/google-coral/project-posenet/blob/435ac93204ec68783262865df7fa2185fd32b0bf/pose_camera.py#L136
If you need state you could change the simple callback function to a stateful class object that is callable.

[2020-04-20 06:31] sndroid commented on #27
It seems that there was an automatic cast in adding singed int and unsined int (specifically numpy.uint64) to preserve precision.

[2020-04-22 17:37] GOBish opened #30 "OpenPose model to Posenet?"
Hi,
Is there any way you could recommend to convert an openpose model to one for posenet? And then optimized for edge-tpu?
Thanks!

[2020-04-28 15:10] tomruarol commented on #24
Attaching a monitor made no difference, the problem might be somewhere else.
Whenever I go back to the project I will continue searching for a solution for this problem, but until then it will be paused.

[2020-05-13 16:36] jingw222 opened #31 "Error running ResNet50 on Pi 4 with USB Accelerator"
The model I'm currently testing is `posenet_resnet_50_640_480_16_quant_edgetpu_decoder.tflite`.
 Loading the model with `PoseEngine` API seems to be just fine, but as soon as the model starts to run inferences, it aborts and throws me this error
[code]
And that's not the case with the MobileNet version `posenet_mobilenet_v1_075_481_641_quant_decoder_edgetpu.tflite` at all. What gives?

Hardwares:

[2020-05-13 16:50] mtyka commented on #31
These models are very large and push the limits of the USB connection - i've seen this issue before but I have no remedy. This is less of an issue with the DevBoard.
I see you are already using the USB3 port and a high quality cable, so i'm not sure what else to recommend.   I've definitely managed to run the 640x480x16 one on the Pi4 with the setup you describe. Maybe try one of the smaller resne

[2020-05-13 16:51] #28 closed

[2020-05-13 16:51] #29 closed

[2020-05-13 16:52] mtyka commented on #8
Just pushed some resnet models.

[2020-05-13 18:00] jingw222 commented on #31
It seems that way. 416x288x16 works, but the 640x480x16 one does not. How exactly did you manage to run 640x480x16 on the Pi4?

[2020-05-13 19:04] mtyka commented on #31
Are you using libedgetpu1-std or libedgetpu1-max ?

[2020-05-14 00:17] mtyka commented on #31
ok, I just tested this and confirmed my suspicion - the larger ResNet models will fail over USB if you use the slower libedgetpu1-std instead of libedgetpu1-max. I can exactly replicate your observations that with the throttled version the 640x480x16 ResNet fails but the smaller 416x288x16 one works. Reinstalling the faster libedgetpu1-max library restores the ability to run both.
See here for mor

[2020-05-14 01:46] jingw222 commented on #31
Thanks! Should have installed the overclocked libedgetpu1-max over the regular one. Now everything works again, and it speeds up inference on the mobilenet model ~30% in my case.

[2020-05-14 01:46] #31 closed

[2020-05-14 23:49] srujanpanuganti opened #32 "DetectPosesInImage() takes forever to do inference"
First of all, thanks for making this package opensource. I'm using your package on a Raspberry Pi 4B with EdgeTpu to do pose estimation.
The instructions in the readme worked perfectly for me, and I was able to get the keypoints positions and confidence scores. However, I am facing a problem when I'm trying to use your package in my own project. In my project I have a method which uses DetectPoses

[2020-05-15 17:53] mtyka commented on #32
Hmm, from this its hard for me too know where the issue is. If the provided example works and this doesn't, you should be able to compare the exact inputs into the inference call in DetectPosesInImage and figure out what the difference is.
Does the call hang or just proceed very slowly ?
Note that because there is only one TPU you can't have multiple threads trying to schedule work on the TPU simu

[2020-05-15 18:05] srujanpanuganti commented on #32
I compared exact inputs and tried using  DetectPosesInImage() with a sample toy script. It worked. But it doesn't work in my project.

I don't know if it's hung/ doing slowly. Is there any way to check if the inferencing is in progress?

I'm not calling TPU from several threads. What I'm referring is, 'I'm only calling TPU from single process'. For example, I have a 4 cores for my RasPi, 1 use one

[2020-05-20 04:57] srujanpanuganti commented on #32
Hi @mtyka . I found out the problem was with the multiprocessing. The **inference** doesn't work (or) takes forever if I do the **inference** within a Process (multiprocessing.Process).

I couldn't fix the issue, but I was able to figure out an alternative solution for my application without using multiprocessing.Process

[2020-05-21 01:51] Chegde8 opened #33 "'PoseEngine' object has no attribute 'run_inference'"
I get the error:
`AttributeError: 'PoseEngine' object has no attribute 'run_inference'` when I run pose_camera.py.
There doesn't seem to be an object named 'run_inference' in pose_engine.py.
Could you please let me know if I'm missing something?

Thanks

[2020-05-21 05:52] mtyka commented on #33
What's the version of the edgetpu library you are using ?
It should be
[code]

[2020-05-21 06:15] mtyka commented on #27
Fixed. Thanks for pointing this out !

[2020-05-21 06:15] #27 closed

[2020-05-21 15:48] Chegde8 commented on #33
My edgetpu version is 2.11.1.
This version has worked before though.

[2020-05-21 16:55] mtyka commented on #33
Yes, I believe run_inference was renamed at some point from the older "RunInference".
The example was subsequently updated also and thus wont work with the older API anymore.
See: https://github.com/google-coral/project-posenet/commit/382082c1b22055e4fcc63ca2f1a6b0e4c7de5303#diff-21f97dd2896d97903b11cca987226babL125

While yo could rename it back, there have been other bugfixes related to PoseNet

[2020-05-21 16:55] #33 closed

[2020-06-05 02:24] koji commented on #23
Has anyone made this work on mac?

[2020-06-15 02:19] greensopinion opened #34 "pose_camera fails to start with "failed to configure video mode""
Running `python3 pose_camera.py --res 640x480` fails as follows:

[code]

`python3 simple_pose.py` seems to work just fine.
I've tested the camera with [Motion-Project/motion](https://github.com/Motion-Project/motion) to verify that it's working.

In case it helps:

[code]

[2020-06-20 18:31] greensopinion commented on #34
This problem was a result of running headless. When I restarted the raspberry pi with a monitor, keyboard and X11, I was able to reliably run the program without errors.

[2020-06-20 18:31] #34 closed

[2020-07-20 17:47] Nishanth2708 commented on #25
I'm facing the same issue. Did your issue get resolved?

[2020-09-07 18:48] zlg9folira opened #35 "gst-stream-error-quark: Internal data stream error on 1280x720"
My camera source is 1920x1080 30fps. On raspberry Pi4 B+ aarch64, I have no problem running
`python3 pose_camera.py --res 480x360`
`python3 pose_camera.py --res 640x480`
They work seamlessly. However, I get error on:
 `python3 pose_camera.py --res 1280x720`

Output:
[code]

Any idea?

[2020-09-14 18:20] ivelin opened #36 "Is it possible to run the Custom OP on CPU with TFLite?"
Coral team, thank you for the great example.

We are working on an [open source project](https://github.com/ambianic) that allows users to take advantage of EdgeTPU when available. Otherwise inference falls back to the CPU.

The README for this PoseNet example states that the CustomOP is embedded in the graph itself. Does that mean EdgeTPU knows how to resolve the CustomOp reference in the graph a

[2020-09-14 21:08] jwoolston commented on #36
@ivelin I have gone through precisely this a while back and am trying to update the implementation currently. I will do my best to provide what I did.

Not quite, at least not as far as I can tell. It appears to be provided by the EdgeTPU library.

I was previously unable to find a way.

Correct. Fortunately, it is. As I mentioned above, it appears to be part of the Edge TPU library. I simply buil

[2020-09-14 21:23] ivelin commented on #36
@jwoolston thank you for sharing your experience so far. It will help with our [fall detection PR](https://github.com/ambianic/ambianic-edge/pull/200).

And thanks for the pointer to the customop source. I was hoping we can avoid building tflite from scratch and can just reference the customop binary. Just like you said, building with Bazel is an adventure. I've [contributed to TFIO](https://towar

[2020-09-14 21:29] jwoolston commented on #36
I had not seen those. In my case I specifically need access via the Java API (either full TF or Lite). Since I find the bazel build of tensorflow to basically be impossible outside there docker image, I am working on a minimal CMake project that can build it as part of my JNI library. I am however extremely interested in option 1 you presented as I spent a lot of time the first time around trying

[2020-09-14 21:36] jwoolston commented on #36
@ivelin I should add, I dont believe computational efficiency has anything to do with it. The custom op in question here is decoding the output tensor of the network into the "pose" data. For whatever reason the edge TPU version defines an operation for it while the Android TFLite, Python and JS versions of the models I found all seem to output the raw data directly to be interpreted by the consum

[2020-09-15 16:47] ivelin commented on #36
@jwoolston

Not yet. Still working on adapting the code to tflite runtime.

You may be correct. I was referring to @rwightman 's [comments](https://github.com/rwightman/posenet-python) in his readme that decoding speed impacts significantly (10x) overall performance. He says:

[2020-09-15 17:15] jwoolston commented on #36
@ivelin Thanks for the info. Unfortunately for me the Java API's method of resolving a custom op requires it to be implemented in native code. The interface literally defines a method to get a native object. I suppose since TF is C++ at the end of the day, regardless of the API used, that this is unavoidable. If you are able to adapt that to tflite It might provide a way to avoid the C++ because i

[2020-10-05 08:51] dariosortino opened #37 "pose output order"
Does anyone know which is the criterion of order for the output poses? To be clear, when I cycle for pose in poses, which is the first, the second one, etc with respect to the scene?

[2020-10-05 11:55] Ziegan opened #38 "no output window"
while running the https://github.com/google-coral/project-posenet/blob/master/pose_camera.py on my newly setup coral dev board i can't see the output window & also it dosent show any errors

[2020-10-05 14:49] mtyka commented on #37
The decoder will emit them roughly in order of confidence (key point
score).

Posenet has no ability to consistently identify or track individuals from
frame to frame, so the order is not particularly stable as individuals move.

-- sent from my phone

On Mon, Oct 5, 2020, 1:52 AM dariosortino <notifications@github.com> wrote:

[2020-10-07 07:55] #37 closed

[2020-10-11 05:01] jegamboafuentes commented on #38
Looking for the same answer

[2020-10-13 07:26] smartkarthikn opened #39 "Gstreamer camera live streaming output is not diplayed..."
i have executed the pose_camera.py file but the output is not displayed and there is no errors too .. could u please help me with this ?
thank you ...

[2020-10-16 13:48] Namburger commented on #38
II believe the pipeline for the devboard is somehow broken, for now one way to overcome this issue is to switch it to using the generic linux pipeline by changing [this line](https://github.com/google-coral/project-posenet/blob/master/gstreamer.py#L341) to:
[code]

[2020-10-16 22:40] jegamboafuentes commented on #38
Awesome, that worked for me!

Thanks.

[2020-10-21 17:24] Namburger commented on #38
no problems!

[2020-10-21 17:25] Namburger commented on #39
Hey, here is a work around for now, but I'll look into what actually went wrong with the pipeline
https://github.com/google-coral/project-posenet/issues/38#issuecomment-710058891

[2020-10-23 09:27] Ziegan commented on #38
Yeah that worked for me also, thanks for sharing this info !

[2020-10-23 09:27] #38 closed

[2020-10-29 04:55] matata-desing opened #40 "Neural network"
I would like to ask about the flow chart and architecture diagram of network neural and how to train my own model, thank you!

[2020-11-06 15:41] VolDonets opened #41 "Is it possible to use a C++ API instead the Python API for a human pose estimation?"
Is it possible to use a C++ API instead the Python API for a human pose estimation?

[2020-11-12 15:32] VolDonets commented on #41
I have found the way: https://github.com/Eashwar93/coral_edgetpu_video_inference + a bit brain-hacks and it will works well.

[2020-11-12 15:32] #41 closed

[2020-11-13 18:10] VolDonets commented on #41
I have a bit works with https://github.com/Eashwar93/coral_edgetpu_video_inference code, and If you need pose estimation and get stream, you can take a look on my repository (may be it'll be more useful): https://github.com/VolDonets/coral_pose_detection_cpp .

[2020-11-19 12:55] jingw222 opened #42 "The latest Edge TPU runtime (v15.0) possibly breaks old models?"
Running the models against the latest edgetpu runtime gave me an error that previously had been caused by package upgrades.

[code]

[code]

Here's the setup on my Pi 4 running Raspbian Buster.
[code]
That was not an issue previously under
[code]
which I can't figure out how to downgrade to.

[2020-11-24 04:08] danieldanuega commented on #42
I used python3-edgetpu==2.14.1 with older edgetpu runtime and it worked. I've tried python-edgetpu==2.14.1 with newer runtime and it didn't work at all. I think you need to downgrade the runtime too, but I couldn't find it how to downgrade the runtime, because google change the url.

[2020-11-24 04:12] danieldanuega commented on #42
I am currently trying to update the pose_engine.py with pycoral api, but at the moment I face some difficulty to convert the code. I will do PR after I found the way to convert this.

[2020-11-24 06:41] jingw222 commented on #42
Yes, exactly. For downgrading the runtime module, I think reinstalling `python3-edgetpu`, the deprecated Python API, would automatically install the legacy version of the runtime package `libedgetpu1-legacy-std`, which in fact can be install separately alongside `libedgetpu1-std`. So there's that.

[2020-11-24 16:19] Moehrenbaum opened #43 "Segmentation fault when running on RASPI4 w/ Coral"
**Is this example supposed to also run on _RASPI 4_ or am I just wasting my time?**

Independ of the model used get this error.

**Loading model:  models/mobilenet/posenet_mobilenet_v1_075_481_641_quant_decoder_edgetpu.tflite
[1]    18593 segmentation fault  python3 anonymizer.py**

[2020-11-24 17:43] Moehrenbaum commented on #31
@jingw222 James, it appears you are sucessfully running posenet on a raspi4 with the Coral usb TPU. would you mind sharing a github repo. I'm trying to get this to work here but so far fail. Thanks

[2020-11-24 18:07] jingw222 commented on #31
Yep, for sure. Poke around [HIIT PI](https://github.com/jingw222/hiitpi) for whatever you're interested in. It's a web app deployed on the Pi in Docker containers though.

[2020-11-26 08:37] meteora9479 opened #44 "Can the included model be loaded by "Edge TPU runtime library" (on mac) and run with the USB Accelerator?"
Hi,

I download and unpack the Edge TPU runtime library on mac using:
<pre><code>
https://dl.google.com/coral/edgetpu_api/edgetpu_runtime_20201105.zip
</code></pre>

and I run the fallowing code (from coral detection example) to load the posenet model.

<pre><code>
import argparse
import time
import tensorflow.lite as tflite
import numpy as np

EDGETPU_SHARED_LIB = {
  'Linux': 'libedgetpu.so.1.0'

[2020-12-01 17:03] jjgraham opened #45 "project-posenet and others not working with enterprise-eagle-20200724205123"
We have 32 Coral Dev Boards and most of the demos now fail after flashing enterprise-eagle-20200724205123 because edgetpu https://github.com/google-coral/edgetpu has been branded Legacy and replaced by libedgetpu

`mendel@k3s-tpu-09:~/project-posenet$ python3 simple_pose.py
Traceback (most recent call last):
  File "simple_pose.py", line 18, in <module>
    from pose_engine import PoseEngine
  Fil

[2020-12-01 20:20] davidremus opened #46 "Stop execution"
Hello,

It's is possible to stop the execution of the pose_camera.py script, dynamically? Not with CTRL+C command.

Thank you!

[2020-12-02 18:08] FHermisch commented on #42
Hello everyone, you can make these models run again by following these steps (most of them already mentioned here). This is an excerpt of my personal Wiki ;-)
**How to load custom delegates if you need them:**
If a model features an operation which is not part of TFLite nor Libedgetpu, these operations needs to be provided by a custom delegate. This is essentially the case for the 'posenet' model

[2020-12-03 14:24] Namburger commented on #42
Hi folks, sorry for the late respond here. We're aware that the deprecated API won't be working and is actively working on a fix for this. For now please use my fork for this repo: https://github.com/Namburger/project-posenet
Will soon add unit tests and decide on how to fix this official repo.

Thanks and regards!

[2020-12-03 14:27] Namburger commented on #43
Hello, this should works on the pi4, however we recently deprecated the edgetpu API and is actively workiong on a fix.
For now, please use my fork: https://github.com/Namburger/project-posenet
More details here:
https://github.com/google-coral/project-posenet/issues/42#issuecomment-738026058

[2020-12-03 14:28] Namburger commented on #44
Hello, you'll need to register the posenet_decoder.so as I did [here](https://github.com/Namburger/project-posenet/blob/master/pose_engine.py#L76).
For now, please use my fork: https://github.com/Namburger/project-posenet
More details here:
https://github.com/google-coral/project-posenet/issues/42#issuecomment-738026058

[2020-12-03 14:29] Namburger commented on #44
Although, as opposed to tflite, you'll need to use the tflite_runtime package we provided

[2020-12-03 14:30] Namburger commented on #46
Hello, right now there isn't a way to do that, but I supposed some code can be added to handle that?

[2020-12-03 14:31] Namburger commented on #45
Hello, yes, we're working on a fix for this as our old API was deprecated.
For now, please use my fork: https://github.com/Namburger/project-posenet
More details here:
https://github.com/google-coral/project-posenet/issues/42#issuecomment-738026058

[2020-12-04 18:24] jjgraham commented on #45
Closer !
simple_pose.py works now but pose_camera.py is not happy about the input size
ValueError: input size=925444, expected=924963.

mendel@k3s-tpu-04:~/project-posenet$ python3 simple_pose.py
Inference time: 19 ms

Pose Score:  0.60673916
  KeypointType.NOSE    x=210  y=152  score=1.0
  KeypointType.LEFT_EYE x=223  y=138  score=1.0
  KeypointType.RIGHT_EYE x=199  y=137  score=1.0
  KeypointTyp

[2020-12-07 02:26] startupstarter commented on #45
I doubted. I tried removing pycoral, and adding legacy packages but couldn't resolve decencies. I tried going back to Day13 version but that also failed in reflashing

[2020-12-07 02:31] startupstarter commented on #45
I ran into this issue with the new repo after running pose_camera.py

oading model:  models/mobilenet/posenet_mobilenet_v1_075_481_641_quant_decoder_edgetpu.tflite
Detected Edge TPU dev board.
Gstreamer pipeline:  v4l2src device=/dev/video0 ! video/x-raw,width=640,height=480,framerate=30/1 ! decodebin ! glupload ! glvideoflip video-direction=identity ! tee name=t
               t. ! queue max-size

[2020-12-07 04:51] startupstarter commented on #45
I got here too after connecting the output:

python3 pose_camera.py
/home/mendel/p2/project-posenet/gstreamer.py:15: PyGIWarning: Gst was imported without specifying a version first. Use gi.require_version('Gst', '1.0') before import to ensure that the right version gets loaded.
  from gi.repository import GLib, GObject, Gst, GstBase, GstVideo, Gtk
/home/mendel/p2/project-posenet/gstreamer.py:15:

[2020-12-07 05:02] Namburger commented on #45
Sorry guys, I forgot to push some important changes :)
https://github.com/Namburger/project-posenet
please do a git pull and try again, I'm traveling the first few days of this week and forgot my tpu at home so I can't really test this, but I'll try to get this repo fixed as soon as I get back!

[2020-12-07 08:32] startupstarter commented on #45
It's working now! thank you.

[2020-12-07 09:03] startupstarter commented on #45
@Namburger Does the synthesizer.py work for you with the pycoral one?

[2020-12-07 17:37] jjgraham commented on #45
Yes synthesizer.py runs. I need to find some speakers to hear if its working.
Any way to get audio to default to HDMI output ?

[2020-12-07 21:44] startupstarter commented on #45
It also runs for me but I don't hear anything. When it first runs, it does generate some noise but that's about it

[2020-12-17 21:05] Akranar commented on #42
Hi @Namburger,

Thanks for providing the fork. I'm trying to run it on a Raspberry Pi 4 with the Coral USB Accelerator, but I'm getting this error:

[code]

This was after I had gotten an error that it couldn't find the shared library for the decoder at "posenet_lib/armv7l/posenet_decoder.so" but I saw that the folder for "armv7a" existed, so I just copied that over as "armv7l" for the app to find

[2020-12-21 00:52] zhangchenwei115 commented on #30
Hi, I am also looking for Openpose model running on Google coral, did you get any idea?

[2020-12-21 10:37] lupitia1 commented on #36
Hello jwoolston! I'm trying to do the same right now but I'm facing the next problem:

`AttributeError: 'Delegate' object has no attribute '_library'
(decoder) [ec2-user@ip-172-31-5-112 mobilenet]$ vim run_model.py
(decoder) [ec2-user@ip-172-31-5-112 mobilenet]$ python run_model.py
}Traceback (most recent call last):
  File "run_model.py", line 3, in <module>
    tpu= tflite.load_delegate('libedge

[2020-12-21 11:18] lupitia1 opened #49 "AttributeError: 'Delegate' object has no attribute '_library' when trying to execute quant_decoder"
Hello jwoolston! I'm trying to do the same right now but I'm facing the next problem:

`AttributeError: 'Delegate' object has no attribute '_library'
(decoder) [ec2-user@ip-172-31-5-112 mobilenet]$ vim run_model.py
(decoder) [ec2-user@ip-172-31-5-112 mobilenet]$ python run_model.py
}Traceback (most recent call last):
  File "run_model.py", line 3, in <module>
    tpu= tflite.load_delegate('libedge

[2020-12-21 16:03] Namburger commented on #30
Are there extra features from openpose that isn't cover in the provided models?

[2020-12-21 16:10] Namburger commented on #49
That usually means that it can't find the .so file that you are trying to load.

Checkout how I did it here (I have the posenet_decoder.so already compiled):
https://github.com/google-coral/project-posenet/blob/ugrade-to-frogfish/pose_engine.py#L80

Is this a cloud instance? Because if so, then how are you planning to attach an edgetpu hardware to it?

[2020-12-23 08:22] lupitia1 commented on #49
Hello Namburger! Thank you for your reply,

I'm trying to use this model: [Posenet](https://github.com/google-coral/project-posenet/blob/master/models/mobilenet/posenet_mobilenet_v1_075_481_641_quant_decoder.tflite) in CPU (it works perfect in my edgeTPU but Im required to make it work on the CPU also) and I'm having problems with the decoder cause it doesn't find the custom op "PosenetDEcoderOp".

[2020-12-24 14:28] XuTZ0912 opened #50 "Can't run simple_pose.py"
mendel@tuned-ibis:~/project-posenet$ python3 simple_pose.py

--2020-12-24 14:17:45--  https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Hindu_marriage_ceremony_offering.jpg/640px-Hindu_marriage_ceremony_offering.jpg
Resolving upload.wikimedia.org (upload.wikimedia.org)... 103.102.166.240, 2001:df2:e500:ed1a::2:b
Connecting to upload.wikimedia.org (upload.wikimedia.org)|103.102.166.240|:443

[2020-12-26 23:53] Namburger commented on #49
@lupitia1 I see, if you are just using the CPU model, then just dont'y load the eddetpu delegate at all because you either dont have that installed or don't have an edgetpu HW
[code]

[2020-12-28 10:18] lupitia1 commented on #49
Hello again! I was trying to use the model [Posenet quant _decoder](https://github.com/google-coral/project-posenet/blob/master/models/mobilenet/posenet_mobilenet_v1_075_481_641_quant_decoder.tflite) in the cpu version (in the cloud instance) but I couldn't cause it ask me to use the posenet_decoder_op and this is why I tried loading the delegate but now that I tried the following code based in th

[2020-12-28 13:47] Namburger commented on #49
@lupitia1
Just checkout my `upgrade-to-frogfish` branch: https://github.com/google-coral/project-posenet/tree/ugrade-to-frogfish
take off the edgetpu delegate and it should works, it works for me so I believe it has to be a path issue. As a matter of fact,
[code]
means that python couldn't find the `so`.

Another thing you can do is to set thelibrary path:
[code]

[2020-12-28 14:01] Namburger commented on #50
@XuTZ0912 Hello, please check out my pull request for the fix: https://github.com/google-coral/project-posenet/tree/ugrade-to-frogfish

[2020-12-28 16:23] lupitia1 commented on #49
Thank you again,
I tried the checkout to this branch and exporting as an environment variable. I'm sure the path is okay cause I printed it from Python file:
`(decoder) [ec2-user@ip mobilenet]$ dir /home/ec2-user/project-posenet/posenet_lib/x86_64/
posenet_decoder.so`

But when executing the code I refered before, I'm getting the same error:

[code]
I really appreciate your help and if you need mo

[2020-12-28 16:31] Namburger commented on #49
Ohhh, I see why...

[code]

It is worse than a path issue, unfortunately :/
The `posenet_decoder.so` that I built requires glibc 2.27, I believe the OS that you have on the ec2 instance is just really old and doesn't have glibc2.27. You can check with:
[code]

[2020-12-29 08:44] lupitia1 commented on #49
You are right :/

ldd --version
ldd (GNU libc) 2.26
Copyright (C) 2017 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
Written by Roland McGrath and Ulrich Drepper.

I will see if it is possible to update or I will change to a newer OS. I will update here with the r

[2020-12-29 15:45] lupitia1 commented on #49
I messed up the instance that has GLIBC 2.26 trying to update so I changed to another one with a new OS (Ubuntu 18.04 LTS) with GLIBC 2.27.

[code]

I tried to run the same code and now it is looking for GLIBC 2.29:

[code]

[2020-12-29 17:26] lupitia1 commented on #49
UPDATE: Now it works! :D
I was missing a little detail, passing the loaded delegate when loading the model, this is my code:

[code]

I used the compiled posenet_decoder.so you told me to use in Ubuntu 20.04 and it works perfectly. Thank you so much for all your help and support @Namburger.

[2020-12-29 17:29] Namburger commented on #49
@lupitia1 awesome, glad to help!

[2020-12-29 17:29] #49 closed

[2020-12-30 11:16] lupitia1 commented on #49
Hello! I don't know if I have to create a new Issue for this:

Just realized that I need to do this on Windows also to test some features of my project :(
I tried to do exactly the same I did on Linux. After installing the tflite_runtime on Windows 10 (64 bits arch) I guess the [posenet_decoder.so] is not prepared to run on Windows. Is there a way to make this work on Windows too? I saw your pull

[2021-01-04 14:06] #50 closed

[2021-01-05 01:44] Tylersuard opened #51 "Error: no module named 'edgetpu'"
Traceback (most recent call last):
  File "simple_pose.py", line 18, in <module>
    from pose_engine import PoseEngine
  File "/home/pi/coral/tflite/python/examples/project-posenet/pose_engine.py", line 20, in <module>
    from edgetpu import __version__ as edgetpu_version
ModuleNotFoundError: No module named 'edgetpu'

[2021-01-05 01:45] Tylersuard commented on #51
Solved: sudo apt-get install python3-edgetpu

[2021-01-05 01:45] #51 closed

[2021-01-05 12:51] schwart-dk commented on #42
Hi @Namburger,

Thanks a lot for the fork, which works perfectly on Debian 20.4 on X64 with the Coral Edge USB. However, moving it to to a Raspeberry Pi 4B I run into exactly the same problem as Akranar, above. Should it be ok to use posenet_lib/armv7a/posenet_decoder.so, even if os.uname().machine reports: armv7l?

Any idea where I could try looking?

[2021-01-13 20:36] anoop54 opened #52 "Can't run simple_pose.py"
OSError: /lib/x86_64-linux-gnu/libm.so.6: version `GLIBC_2.29' not found (required by ./posenet_lib/x86_64/posenet_decoder.so)

Any idea on this?

I compiled my own posenet_decoder as well, which results in a different error. Is this .so only working with ubuntu 20?

[2021-01-13 21:20] Namburger commented on #52
That seems like your OS doesn't meet the required GLIBC version  for required for that so file. You can check with:
[code]
It needs to be 2.29 or above

[2021-01-13 21:44] anoop54 commented on #52
Yeah, mine is 2.27, seems like I'll need to update from Ubuntu 18. Can you explain to me why the version I built does not work? I no longer get the GLIBC error, but get the following when using:

**Code**
import tflite_runtime.interpreter as tflite
posenet=tflite.load_delegate('./posenet_lib/x86_64/posenet_decoder.so')
interpreter = tflite.Interpreter(model_path='posenet_mobilenet_v1_075_481_641_q

[2021-01-14 01:13] Namburger commented on #52
@anoop54
well there are 2 libraries that needs to be loaded. Yo built your own lib and it actually works, but now you're having problem with `libedgetpu` LOL

For libedgetpu, though, it's not as complicated, I think you just have an older version that isn't compatible with the current `tflite_runtime` package. Try this:
[code]

[2021-01-14 16:34] fogelton opened #53 "question: Is it possible to add the original model and script to convert it?"
It would be helpful to be able to change parameters like number of people to detect, the input resolution or even minimum score.

[2021-01-14 16:36] fogelton opened #54 "question - is it possible to add the original model and the script to convert it."
Mostly the custom operation is nowhere to find, it is quite useful and helps to achieve sufficient fps.
It would be helpful to be able to change parameters like number of people to detect, the input resolution or even minimum score.

[2021-01-14 16:37] fogelton commented on #54
sorry for duplicit

[2021-01-14 16:37] #54 closed

[2021-01-15 01:49] drimyus commented on #52
Hi @Namburger

I tried to run the `simple_pose.py` on ubuntu 18.04.
I installed pycoral_api, tf_runtime, and libedgetpu. when I execute the `simple_pose.py`, I got the error message like below.
[code]

I wonder this project is available to run for only ubuntu 19 or higher version?
[code]

[2021-01-15 14:05] Namburger commented on #52
@drimyus this is the same issue, you are going to have to build libedgetpu.so that matches your glibc, unfortunately

[2021-01-16 05:15] mentarus commented on #17
Same issue, flashed the coral dev board last week with the latest image 5.0 Eagle (Jul 2020)
Isn't install_requirements.sh meant to deal with the dependencies? Definitely not working out of the box...

[2021-01-16 14:16] matsavage opened #55 "How to view output"
Setup: Coral Dev board, freshly flashed with enterprise-eagle-20200724205123

I can't seem to view the output of the `pose_camera.py` example, when I run this script on my dev board, with HDMI attached I only get text outputted to the console with no video window present.

[code]

Also when I run the `simple_pose.py` script, I get the expected coordinates, so I am confident that the model etc is a

[2021-01-16 17:37] matsavage commented on #55
The problem was that I had connected the ribbon cable for the camera upside down, connecting it the right way up fixed the issue

[2021-01-16 17:37] #55 closed

[2021-01-22 21:42] drimyus commented on #52
@Namburger Thank you for your response, btw can you let me know where I can check the guide to build the libedgetpu.so?

[2021-01-26 16:52] nicoinch opened #56 "Posenet decoder library for macos"
Hello,

Thank you for all the great examples you provide, a true gold mine !

I would like to use posenet on macos but I was not able due to posenet_decoder library. It seems it is not available on macos and I was not able to compile it.

Is there a way to make posenet work on macos ?

Thank you for your answer (and your time) !

[2021-01-27 03:59] siddhantsahu commented on #52
@anoop54 did you get this to work on Ubuntu 18? If yes, can you please share what you did?

[2021-01-29 14:13] Namburger commented on #52
@Yaskoga this is an issue with the OS, not an RPI, I think one think you can do is to upgrade glibc on the pi or recompile the armv7 binary with a lower glibc

[2021-02-01 02:41] Yaskoga commented on #52
Thanks for your reply.
I installed UBUNTU 20.10 desktop which has GLIBC 2.32 to my raspberry pi4.
And I tried install posenet.
I succeeded to work simple_pose.py.

[2021-02-10 09:01] gauravzero opened #58 "How do you quantize/scale the outputs from the 481x641 quant model?"

[2021-02-17 18:18] Tylersuard opened #59 "Significant lag on video inference with Pi 4 and Coral USB"
Hello.  I am using a Pi 4B with the Coral USB.  The screen reports I'm getting around 22fps, which is great, but there is a 1-second lag between action and response.  For instance, I will move my arm up, and the screen only responds one second later.  This does not happen normally (for instance when I use raspistill -p the camera operates in realtime without the lag).  The one-second lag may not s

[2021-02-18 07:00] pixellib opened #60 "How to solve ImportError: libedgetpu.so.?"
ImportError: libedgetpu.so.1: cannot open shared object file: No such file or directory?

[2021-02-18 22:51] Namburger commented on #59
hi @Tylersuard how are you running it?
is it just `python3 pose_camera.py` or any additional arguments?

[2021-02-18 22:53] Namburger commented on #60
Hello, which product are you using?
You need to go through our getting started page to see the proper step to set up your device.
In this case, it seems that the `libedgetpu-{std||max}` is missing

[2021-02-19 07:43] NabilHunt opened #61 "Can't run simple_pose.py"
I installed all requirements and I didn't find any mention of the error I'm having elsewhere, when I run `python3 simple_pose.py`, I get the following error:

[code]
I'm not sure what's the problem here, this is being run on a raspberry pi4 with the latest Raspbian. I suspected the issue might be GLIBC version, since mine is `Debian GLIBC 2.28-10+rpi1` and I saw in an issue that it must be 2.29 or

[2021-02-19 08:34] Tylersuard commented on #59
Hi @Namburger , thank you for the quick response.  I am pretty sure I just used the command with no arguments, I will double-check for you asap.  Here is a video of someone else having the same issue: https://youtu.be/h8MJpsoge0Q?t=73
Notice how the frame rate is 60 FPS, but the machine takes around 1 second to respond when the user moves his hands... shouldn't it only take 1/60 of a second to res

[2021-02-19 23:41] Namburger commented on #61
@NabilHunt I think you just need to change the `armv7a` directory from here: https://github.com/google-coral/project-posenet/tree/master/posenet_lib
to `armv7l` since that's what `os.uname().machine` returns. It looked for that directory for the posenet lib and couldn't find it

[2021-02-20 07:45] NabilHunt commented on #61
@Namburger seems to be the problem as it's working now after renaming it.
Thanks

I'll close it in a day after I recheck it

[2021-02-22 18:27] anilsathyan7 opened #62 "Unable to run model on CPU: posenet_decoder_op.cc:126 (heatmaps->type == kTfLiteUInt8 || heatmaps->type == kTfLiteFloat32) was not true.Node number 33 (PosenetDelegateForCustomOp) failed to prepare."
I was trying to run the models: 'posenet_mobilenet_v1_075_353_481_quant_decoder.tflite' and 'posenet_resnet_50_416_288_16_quant_cpu_decoder.tflite' on normal CPU:x86_64(i.e no coral edge tpu is connected). I  tried the following steps/code in google colab :-

1. Installed latest bazel
2. Installed tflite_runtime:` pip3 install --extra-index-url https://google-coral.github.io/py-repo/ tflite_runtim

[2021-02-22 22:23] Namburger commented on #62
@anilsathyan7 this should works, although you don't need to set the `LD_LIBRARY_PATH` :
[code]

What does this returns?
[code]

[2021-02-23 05:59] anilsathyan7 commented on #62
@Namburger It's exactly same as above.
Here is the colab link: https://colab.research.google.com/drive/17fFoNDQiQ4GgwvkSa_m-hxv_zC2CwQQp?usp=sharing
Can you help?

[2021-02-23 09:56] anilsathyan7 commented on #62
It seems the problem was with build. If i directly run bazel build without any option it results in a 2Mb .so file(https://github.com/google-coral/edgetpu/issues/127#issuecomment-636036478). So, I followed the instructions at https://github.com/google-coral/project-posenet/tree/posenet-decoder-build-instruction#how-does-it-work-

[code]
* It seems clone command needs **recursive option**

This gav

[2021-02-23 13:20] #62 closed

[2021-02-26 06:49] #61 closed

[2021-02-27 06:22] Tylersuard opened #63 "On Coral Dev Board, pose_camera.py and anonymizer.py quit before starting, and without warning"
Both refuse to run.  They get through a few lines of setup and then exit.

The last line is "loading model..."
and then it just quits.

Running on Coral Dev Board, and I made the change you recommended to make it display the video in the gui.

[2021-03-01 22:54] Tylersuard commented on #63
Last line:
Loading model: models/mobilenet/posenet_mobilenet_v1_075_481_641_quant_decoder_edgetpu.tflite

[2021-03-05 01:52] Tylersuard commented on #63
Hello?

[2021-03-05 01:56] Tylersuard commented on #38
I added that line of code to gstreamer.py, now the program won't run at all.  It quits while loading the model.

[2021-03-05 02:23] Tylersuard opened #64 "Is there a working image for the dev board that I can download with project-posenet pre-installed?"
Hello.  I love project posenet and I've used it with great success on the Pi4 with coral usb.  I am trying to get it to run on the Dev Board, with no luck.  Does anyone have an image I can download and flash to a micro SD card with a working version of Mendel and project-posenet on it?
Thank you

[2021-03-06 00:02] Tylersuard commented on #63
I used the coral camera instead of a usb webcam, it works now.

[2021-03-06 00:02] #63 closed

[2021-03-10 06:00] Tylersuard commented on #59
I found out the issue: the lag disappears when I draw fewer edges using svgwrite.  Is there a reason you used svgwrite instead of opecv?

[2021-03-10 06:00] #64 closed

[2021-03-25 21:50] somewacko commented on #35
Ran into this, problem was that my camera didn't support 1280x720 using the raw codec @ 30/1 FPS (coral's gstreamer wrapper uses `30/1` everywhere). You can check `gst-device-monitor-1.0` to see your video devices and what they support.

For me, my camera supports 1280x720 @ 30/1 FPS with the h264 and jpeg codecs, so specifying `--h264` or `--jpeg` does the trick.

Changing the `framerate=30/1` li

[2021-03-28 02:39] Elmit2015 opened #65 "Startup with a Raspberry 4"
I need some startup push ;-)

I use a RPi4 with 4 GB RAM.

_python3 shows:_
[code]
As I understand, I need to install first pycoral, tflite_runtime and libedgetpu.

_For pyCoral:_
`sudo apt-get install python3-pycoral
`
Also be sure you have the latest version of the Edge TPU runtime.
How do I check that?

_For tflite-runtime:_
[code]
_For libedgetpu, please install the debian package:_
[code]

_a

[2021-03-29 04:21] Elmit2015 commented on #65
I tried above, but it failed. Please guide me on how to fix it:

I tested first:
vcgencmd version; vcgencmd get_throttled; vcgencmd measure_volts; vcgencmd measure_temp;vcgencmd measure_clock arm;
Jun  1 2020 13:24:51
Copyright (c) 2012 Broadcom
version 6379679d1ec6a8c746d7e77e015f5b56b939976f (clean) (release) (start_x)
throttled=0x0
volt=0.8350V
temp=36.0'C
frequency(48)=600169920

unplug Coral

[2021-03-29 04:39] Elmit2015 commented on #65
I followed the first error:

 cat /var/lib/dkms/coral-enviro-drivers/1.5/build/make.log
DKMS make.log for coral-enviro-drivers-1.5 for kernel 5.10.17+ (armv7l)
Mon 29 Mar 2021 12:36:09 PM CST
make: Entering directory '/usr/src/linux-headers-5.10.17+'
  CC [M]  /var/lib/dkms/coral-enviro-drivers/1.5/build/light/opt3001.o
  CC [M]  /var/lib/dkms/coral-enviro-drivers/1.5/build/humidity/hdc20x0.o
  CC

[2021-04-01 12:59] Elmit2015 commented on #65
Does anybody have a hint of what I am missing?

[2021-04-06 01:43] el-tocino commented on #65
Getting a similar error trying to install python3-coral-enviro on a pi zero wh, running buster.  Apt update has been completed successfully, anything else I try works.  Device worked on an older version of raspbian, as well.

[2021-06-03 08:08] jpatokal commented on #24
I ran into the same issue, and simply running `export DISPLAY=:0` before running the program fixed the error for me.

[2021-06-22 07:07] XuTZ0912 opened #67 "Excuse me,I want to ask how to input jpeg"
[code]
if enter the directory

[code]
So, I want to ask the basic problem for this...Thank you!

[2021-06-22 22:49] scottamain commented on #65
@Elmit2015 I think you can ignore those errors because they're about the enviro-board, which you don't need for this project. None of the instructions mention running "sudo apt-get install python3-coral-enviro" so why did you do that? (It's definitely interesting that you have this error, but it's not related to this posenet project, so I'm curious how you arrived there.)

Regarding your very firs

[2021-06-25 19:48] smertrios opened #68 "RuntimeError: Found builtin operator ADD with custom options."
Hi, I'm trying to run posenet on a custom ARMv7 + coral module but **allocate_tensors()** fails with:

  File "/data/coral_posenet/pose_camera.py", line 186, in <module>
    main()
  File "/data/coral_posenet/pose_camera.py", line 128, in main
    model = PoseEngine('models/mobilenet/posenet_mobilenet_v1_075_353_481_quant_decoder_edgetpu.tflite')
  File "/data/coral_posenet/pose_engine.py", line 9

[2021-07-05 09:37] manoj7410 commented on #60
Feel free to reopen if the issue still persists.

[2021-07-05 09:37] #60 closed

[2021-07-05 09:42] manoj7410 commented on #59
@Tylersuard I tested openCV with camera examples and object tracker, performance was being deteriorated with openCV.

[2021-07-05 09:57] manoj7410 commented on #42
@schwart-dk Can you try with the lib https://github.com/google-coral/project-posenet/blob/master/posenet_lib/armv7l ?

[2021-07-07 18:11] hjonnala commented on #52
It seems issue was resolved. Feel free to reopen if still exists.

[2021-07-07 18:11] #52 closed

[2021-07-09 02:36] 3344393853 opened #69 "An exception occurs when running anonymizer.py on the Raspberry Pi 4B&USB Accelerator"
During the operation of anonymizer.py, when everyone re-entered the screen, there was a problem: the body line drawing in each frame before will not disappear, and it has been piled up in the screen.

[2021-07-12 05:28] manoj7410 commented on #9
Closing this due to lack of activity. Feel free to reopen if the issue still persists.

[2021-07-12 05:28] #9 closed

[2021-07-12 05:47] manoj7410 commented on #24
Feel free to reopen if the issue still persists.

[2021-07-12 05:47] #24 closed

[2021-07-12 11:25] manoj7410 commented on #58
Can you please elaborate this issue ?

[2021-07-12 11:48] manoj7410 commented on #40
Please walk through the documentation provided at https://coral.ai/docs/edgetpu/models-intro/#compatibility-overview. You can find model training COLAB links in adjacent index.

[2021-07-12 11:48] #40 closed

[2021-07-12 16:57] hjonnala commented on #18
Closing due to inactivity. Feel free to reopen if this issue still persists.

[2021-07-12 16:57] #18 closed

[2021-07-12 20:56] hjonnala commented on #69
Hi, please provide the following details:
1. python version
2. Operating system
3. steps to reproduce the issue.

[2021-07-12 21:29] hjonnala commented on #68
Hi, Please provide the details to reproduce the issue.

[2021-07-12 21:36] smertrios commented on #68
@hjonnala I eventually found the issue: the model was corrupted (actually truncated) due to a transport/copy error.

Somehow the interpreter doesn't seem to detect that the model is corrupted and the resulting reported error is confusing.

[2021-07-12 21:40] #68 closed, assigned to hjonnala

[2021-07-13 05:58] 3344393853 commented on #69
Hi
**raspi4B + ubuntu Mate20.04 + Coral USB Accelerator + python3.8.8**

aaa@aaa:~/work/coral/00_posenet$ python3 anonymizer.py
/home/aaa/work/coral/00_posenet/gstreamer.py:15: PyGIWarning: Gst was imported without specifying a version first. Use gi.require_version('Gst', '1.0') before import to ensure that the right version gets loaded.
  from gi.repository import GLib, GObject, Gst, GstBase, Gst

[2021-07-18 16:41] i-m-arin opened #70 "How to run the models on CPU?"
I have installed all the packages described in the readme file but still could not run the models. Is there any way to run the models on the CPU?
This is the error message I got:

Traceback (most recent call last):
  File "/home/arin/anaconda3/envs/evolv_fit/lib/python3.8/site-packages/tflite_runtime/interpreter.py", line 152, in load_delegate
    delegate = Delegate(library, options)
  File "/hom

[2021-07-18 19:44] Yash-Singh-Pathania commented on #25
same here i wonder if it can be resolved somehow

[2021-07-19 05:22] manoj7410 commented on #70
If you see the code at https://github.com/google-coral/project-posenet/blob/master/pose_camera.py#L103 and https://github.com/google-coral/project-posenet/blob/master/pose_engine.py#L79, the model that is being used is specifically meant to run on the edgeTPU only.

[2021-07-19 05:32] i-m-arin commented on #70
Thanks, @manoj7410 . Would you please provide a GitHub repo that allows us to run posenet models on CPU with good accuracy(single-pose will be preferred)? It will be very helpful since I am relatively new in this field.

[2021-07-19 05:36] manoj7410 commented on #70
You should download CPU models from https://coral.ai/models/pose-estimation/#models and try to run these models.

[2021-07-19 05:50] i-m-arin commented on #70
Yeah sure. I will try this. Thanks

[2021-07-22 12:39] manoj7410 commented on #30
Feel free to reopen if this feature is still requested.

[2021-07-22 12:39] #30 closed

[2021-07-23 12:53] hjonnala commented on #67
@XuTZ0912 jpeg is true or false flag. when included it in the argument it would be True otherwise it is False.

The way to use is **python3 pose_camera.py --jpeg**

Which camera are you using? If USB camera can you share the output of **v4l2-ctl --list-formats-ext --device /dev/video1**

[2021-07-24 01:28] hjonnala commented on #69
@3344393853  try the following command let us know still you are facing issues.

**python3 anonymizer.py --mirror**

[2021-08-10 14:32] hjonnala commented on #39
@smartkarthikn are you still facing the issue..

[2021-08-14 11:19] pliablepixels opened #71 "Does this work on native OSX?"
Hi, does this project work on native OSX? I'm running Catalina. Coral (with pycoral) is installed properly, demo examples work.

When trying to run the posenet simple image example, it seems to find the posenet so, but can't load it

[code]

[2021-08-14 18:06] hjonnala commented on #71
Hi, yes  project posenet does not work on native Mac OS.

[2021-08-15 13:41] pliablepixels commented on #71
ok thanks.

[2021-08-15 13:41] #71 closed, assigned to hjonnala

[2021-08-16 14:37] hjonnala commented on #67
Feel free to reopen if they are any questions on this issue.

[2021-08-16 14:37] #67 closed, assigned to hjonnala

[2021-08-16 14:49] hjonnala commented on #45
Closing the issue as examples got updated with pycoral API.

[2021-08-16 14:49] #45 closed

[2021-08-24 11:17] yishinhung commented on #69
@hjonnala I try the following command still encounter the issue
**python3 anonymizer.py --mirror**

[2021-08-24 13:01] hjonnala commented on #69
@yishinhung Thanks for confirming. It is a bug on our side, we are working on it. Will let you know once it is resolved.

[2021-08-24 14:03] hjonnala commented on #25
Hello,  as of now project-posenet has not been implemented on Windows yet.

[2021-08-24 14:03] #25 closed

[2021-08-26 15:05] jorgemmar10 opened #72 "Run pose_camera.py in WSL2"
### Description

Hello,

I am using the CoralDevBoard with the coral camera on a Windows 10 computer; to view graphics and run GUI programs, I use vcxsrv. I am working with WSL2 (Windows Subsystem for Linux) and I have successfully installed all the requirements. I was able to run the simple_pose.py module, but I have not been able to run the pose_camera.py example. The output is attached.

I then

[2021-08-27 19:26] hjonnala commented on #72
Hello @jorgemmar10 we haven't tested coral devices on WSL. Can you please tell us why you are using WSL as you can connect to the Dev Board through Windows itself.

[2021-08-31 14:44] andrewtvuong opened #73 "Connection refused and import error relating to headless RPI"
### Description

I've followed all the install instructions successfully described under https://github.com/google-coral/project-posenet#examples-in-this-repo section. Included log.

<details><summary>Click to expand!</summary>

### Issue Type

Bug

### Operating System

Linux

### Coral Device

USB Accelerator

### Other Devices

Raspberry Pi 3

### Programming Language

Python 3.5

### Relevant

[2021-08-31 19:11] hjonnala commented on #73
can you please check your pycoral version. If its not 2.0.0 please follow this link to install pycoral: https://coral.ai/software/#debian-packages

[2021-08-31 20:44] andrewtvuong commented on #73
Yup it's 2.0.0 as output of pip3 list

[2021-08-31 21:11] hjonnala commented on #73
can you past the output of this command : `ls /usr/lib/python3/dist-packages/pycoral/` to check pybind folder exist or not. If its not there please try uninstall install `python3-pycoral`

[2021-09-02 00:58] andrewtvuong commented on #73
Hi @hjonnala thanks for your help it seems following the instructions on https://github.com/google-coral/project-posenet#examples-in-this-repo leads to installing two different pycoral on Raspberry OS.

`sudo apt-get install python3-pycoral` from https://coral.ai/software#pycoral-api
`sudo apt-get install libedgetpu1-std` from https://coral.ai/docs/accelerator/get-started/#runtime-on-linux
`sh ins

[2021-09-02 00:58] #73 closed, assigned to hjonnala

[2021-09-02 03:06] andrewtvuong commented on #43
I have this same problem

Does this mean the fix is not ready? @Namburger

[2021-09-02 12:55] hjonnala commented on #43
@andrewtvuong I am able to run this command python3 pose_camera.py --res 480x360 on RASPI4 without any error.

I don't see these lines on cmd:

[code]

[2021-09-02 14:15] andrewtvuong commented on #43
Unable to init server: Could not connect: Connection refused

@hjonnala I'm thinking this is due to me running the setup as headless. At the same time,  I am also seeing seg fault as @iCUE-Solutions and some other folks in related issues https://github.com/google-coral/project-posenet/issues/42#issuecomment-738026058

[2021-09-02 14:22] hjonnala commented on #43
can you share output of following command:

`python3 -c 'from pycoral.utils.edgetpu import get_runtime_version; print(get_runtime_version())'`

[2021-09-02 14:23] andrewtvuong commented on #43
`python3 -c 'from pycoral.utils.edgetpu import get_runtime_version; print(get_runtime_version())'`
produces
`BuildLabel(COMPILER=6.3.0 20170516,DATE=redacted,TIME=redacted), RuntimeVersion(14)`

[2021-09-02 14:26] hjonnala commented on #43
can you try `python3 simple_pose.py` and see if you are getting any segmentation fault?

[2021-09-02 14:34] andrewtvuong commented on #43
Thanks
`python3 simple_pose.py` works well
`python3 anonymizer.py`

`python3 posenet_engine_test.py`

`python3 test_utils.py`

EDIT:
very weird, running python3 simple_pose.py after the above sequence now fails with following error:

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/tflite_runtime/interpreter.py", line 160, in load_delegate
    delegate = Delegate(library,

[2021-09-02 14:58] hjonnala commented on #43
please check this: https://coral.ai/docs/notes/build-coral/#failed-to-load-delegate-from-libedgetpuso1  to resolve ValueError: Failed to load delegate from libedgetpu.so.1

[2021-09-02 15:02] hjonnala commented on #43
I am not having any segmentation issue with any script. I have python 3.7.3.

what is your
python version?
tflite_runtime version?
pycoral version?

[2021-09-02 15:26] andrewtvuong commented on #43
Python               3.7.3
tflite-runtime     2.5.0.post1
pycoral               2.0.0

[2021-09-02 15:31] hjonnala commented on #43
Hmm.. I have same config.. can you try without headless?

[2021-09-03 04:04] andrewtvuong commented on #43
with monitor

[2021-09-14 20:34] hjonnala commented on #23
@koji project-posenet not implemented on Mac yet.

@Jaspereclipse Please try with latest updates. Feel free to reopen if issue still persists.

[2021-09-14 20:34] #23 closed

[2021-09-20 19:10] hjonnala commented on #65
Please try the [Get started with the USB Accelerator](https://coral.ai/docs/accelerator/get-started/) demo on Raspbeery pi 4 and feel free to reopen if issue still exists.

[2021-09-20 19:10] #65 closed

[2021-09-20 22:21] #70 closed, assigned to manoj7410

[2021-09-21 03:17] jorgemmar10 commented on #72
Hello,
I used WSL for convenience purposes; I was able to get it to work using the instructions provided online. Thank you for your help.

[2021-09-21 13:08] #72 closed, assigned to hjonnala

[2021-10-05 21:14] hjonnala commented on #36
please check this [snippet](https://github.com/hjonnala/snippets/blob/main/posenet/test_decoder_inference.py) to run PosenetDecoderOp on CPU with TFlite.

Thanks

[2021-10-05 21:14] #36 closed

[2021-10-18 22:47] hjonnala commented on #56
Hi @nicoinch  please check this comment https://github.com/google-coral/project-bodypix/issues/22#issuecomment-940221257 to build posenet lib for macos.

Thanks

[2021-10-19 16:20] anoop54 opened #75 "Splitting model for multiple TPUs"
### Description

Hi I want to split the model so I can run segments on multiple tpus so I can take advantage of the local cache. Is this possible? edgetpu_compiler --num_segments=4 model.tflite but I think this is only for models during compile time? As it does not do anything and just returns the version of the compiler.

<details><summary>Click to expand!</summary>

 ### Issue Type

Bug, Build/I

[2021-10-19 16:33] hjonnala commented on #75
yes, you can split the model using `edgetpu_compiler -s  --num_segments=4 model.tflite `. It would give you 4 edgetpu.tflite models as output.

[2021-10-23 20:45] zeus07 opened #76 "synthesizer demo does not work"
Running the latest version of EdgeTPU on a Raspberry PI.

When I run synthesizer.py, I see the skeleton overlay but no sound is output regardless of movement. I can verify that Fluidsynth works with sample midi files. After some debugging, it appears the lines
[code]
don't return anything as the script never gets beyond the `continue` statement on the following line.

[2021-10-25 15:19] hjonnala commented on #75
@anoop54 are you able to split the model?

[2021-10-25 21:37] hjonnala commented on #76
@zeus07 can you please share the command executed and the complete log from the terminal. Thanks!

[2021-10-26 01:56] zeus07 commented on #76
I cloned this repo and ran `python3 synthesizer.py`. Attached is a capture of the terminal.

[debug.txt](https://github.com/google-coral/project-posenet/files/7414497/debug.txt)

[2021-10-29 13:40] hjonnala commented on #7
Please try detect.py form [examples-camera](https://github.com/google-coral/examples-camera/blob/master/gstreamer/detect.py) with below pipeline to save the video to a file. The output would be` test.264`.

 Thanks!

[code]

[2021-10-31 12:54] vipelz opened #77 "Banana pose"
### Description

For a small project with a tiny robotic arm I would like to do pose estimation with 3 or 4 bananas viewed with a webcam.
 Is it possible to train with banana pictures?
 It would be in real time or how many fps do I get with Coral?
 Is it possible to show the main coordinates on the screen in real time?
 Thanks!!

<details><summary>Click to expand!</summary>

 ### Issue Type

Suppo

[2021-11-01 19:08] hjonnala commented on #75
Feel free top reopen if you have any questions. Thanks!

[2021-11-01 19:08] #75 closed, assigned to hjonnala

[2021-11-08 16:58] hjonnala commented on #39
Hope this issue was fixed. Feel free to reopen if issue still exists. Thanks!

[2021-11-08 16:58] #39 closed

[2021-11-08 17:06] #56 closed

[2021-11-10 22:18] hjonnala commented on #77
Hi, @vipelz it is not possible to train with banana pictures with posenet_lib. Thanks!

[2021-11-10 22:18] #77 closed, assigned to hjonnala

[2021-12-10 21:34] nihalraman opened #78 "PoseNet Crashing"
### Description

Hi! We're interested in running PoseNet to track physical marker points continuously (or at least for long periods of time). When we run simple_pose.py, the coral device consistently crashes after running for 2-5 minutes. How can we fix this problem? Thanks for the help!

<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Operating System

Mendel Linux

[2021-12-11 02:12] hjonnala commented on #78
Hi @nihalraman I just ran the simple_pose.py about 30 minutes and it is working as expected.

- Are you using the same model in [simple_pose.py](https://github.com/google-coral/project-posenet/blob/master/simple_pose.py#L27)?
- Can you please provide specific steps to reproduce the crashing scenario.
- Also, please share the log messages when posenet crashes.

Thanks

[2021-12-13 18:24] nihalraman commented on #78
Hi @hjonnala,
Thanks for the response! Sorry, I meant pose_camera.py. We are just running the program ("python3 pose_camera.py"). I'm not sure about the log messages--the device just restarts (i.e. connected monitor goes black before we see it booting up).

[2021-12-13 18:31] nihalraman commented on #78
Also, the crashes happened primarily while we ran a modified version of pose_camera.py that saves the marker points to a text file, but the device crashed when we ran pose_camera.py itself, too.

[2021-12-13 22:25] hjonnala commented on #78
I am able to run the pose_camera.py more than 15 mins without crashing. Can you please share the modified version of pose_camera.py. Thanks!

[2021-12-22 11:00] RLux8 opened #79 "Windows 10 Support?"
Are there any plans to provide a Windows port of the posenet_decoder library (posenet_decoder.so) at some point?

Are there options to run this posenet_decoder in python natively?

[2021-12-22 16:22] anoop54 commented on #75
No actually. I assumed that we are not able to split compiled models. Is this not the case?

[2021-12-22 16:28] hjonnala commented on #75
Yes, we won't able to split the model that is already compiled for edgetpu. To split the models we need to pass an uncompiled tflite model.

[2021-12-22 19:11] hjonnala commented on #79
@RLux8 Unfortunately, we don't have any plans to support posenet_decoder library for windows in the near future.

[2021-12-28 16:09] #79 closed, assigned to hjonnala

[2022-01-02 17:47] akosb commented on #44
@Namburger - the original question: Can the included model be loaded by "Edge TPU runtime library" **(on mac) and run with the USB Accelerator?**

The answer is **NO** according to [issue](https://github.com/google-coral/project-posenet/issues/71)

[2022-01-02 18:09] akosb opened #80 "examples won't work with USB Accelerator on Mac OS"
### Description

Hi,

 according to the [README](https://github.com/google-coral/project-posenet/blob/master/README.md), examples in this repo would work with the USB Accelerator on MacOs - that is opposing [issue#71](https://github.com/google-coral/project-posenet/issues/71) where it's stated : _project posenet does not work on native Mac OS_.

 Could you please fix the issue or update the README

[2022-01-03 16:59] hjonnala commented on #80
HI @akosb please try these steps https://github.com/google-coral/project-bodypix/issues/22#issuecomment-933920712 to run `python3 simple_pose.py`. Other examples do not work as gstremaer pipelnines have to modified for MacOS. Thanks!

[2022-01-04 09:27] akosb commented on #80
Hi @hjonnala,

 I think the following issues stopping people to use the examples on a Mac:
- missing file: _posenet_decoder.dylib_ - file is not in posenet_lib ([here](https://github.com/google-coral/project-posenet/tree/master/posenet_lib/x86_64))
- gstreamer: as you noted "Current gstreamer pipeline does not work with macOS. "

 Both are show stoppers to get project_posenet examples working on M

[2022-01-04 16:09] nihalraman commented on #78
Hi! I don't have access to the script right now, but it's basically just pose_camera.py moified to write landmark coordinates to a separate .txt file. Do you have any general troubleshooting tips?

[2022-01-06 10:40] mpreach commented on #79
I would love to get a windows version, because I'm working with the M.2 Accelerator in a windows maschine...

Did your plans changed ?

[2022-01-06 19:11] hjonnala commented on #78
I am not sure the following things fix the issue as I don't the exact reason why it is crashing. Please try the following things:
- Re flash the board using sd card
- Try with another dev board
- Connect the dev board to host machine with USB cable to avoid socket timeout (Socket timeout might happen if we connect the dev board over wifi without any USB OTG connection to the HOST Machine)

[2022-01-13 15:49] sukhjinder-singh1990 commented on #17
hi,
i got the same error using virtualenv environment on ubuntu 20.04. device used and coral usb

[code]
there is any solution ?

[2022-01-13 15:57] sukhjinder-singh1990 commented on #23
hi,
i got the same error using virtualenv environment on ubuntu 20.04. device used and coral usb
[code]

any solution ?

[2022-01-19 17:13] hjonnala commented on #32
Closing due to inactivity. I think, its not possible to use the TPU with multiprocessing.

[2022-01-19 17:13] #32 closed

[2022-01-20 21:07] nihalraman commented on #78
So pose_camera.py runs without issue. Here's our modified script. It runs for variable lengths of time (anywhere from 30 seconds to a few minutes with a person continuously within the camera frame) before crashing, so it doesn't seem like it's a memory issue. I'm not sure where we're going wrong....

Thanks!

[save_pose_camera.txt](https://github.com/google-coral/project-posenet/files/7908515/save

[2022-01-20 23:25] hjonnala commented on #78
Hi @nihalraman  save_pose_camera.py running fine for me without any issues for long time.

I am only able to produce the no memory left on the device scenario, even that happens the dev board is freezing without any detection on HDMI Display.

[code]

[2022-01-27 05:25] GQ411 opened #81 "On debian system, simple_pose.sh and pose_camera.py run failed with RuntimeError error."
### Description

our system version was 5.10.64

[code]

when executed python3 simple_pose.py, it meet this error. we had reboot it but always meet this error, same error occurred when executed python3 pose_camera.py.

[code]

<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Operating System

Linux

### Coral Device

Mini PCIe

### Other Devices

_No response_

### Progr

[2022-01-27 14:41] hjonnala commented on #81
Hi @GQ411 can you please share the following details. Thanks!

[code]

[2022-01-28 02:49] GQ411 commented on #81
Hi hjonnala,

Thanks for your replay, I check them like following:

[code]

[2022-01-28 16:12] hjonnala commented on #81
Hi, the error is due to tflite runtime version.

Please uninstall pycoral and tflite runtime and install it using again with [sudo apt-get install python3-pycoral](https://coral.ai/software/#debian-packages)..

[2022-01-30 07:51] jan-kiszka commented on #81
Seems like it is resolved in latest [meta-coral](https://github.com/siemens/meta-coral) by moving to tflite 2.5.2.

@hjonnala We cannot use your pre-compiled binaries because we want to redistribute them, and that implies reproducibility without binary dependencies. Also, we'd like to get all this properly packaged by Debian one day so that most user do not need to fall back to an extra repo any m

[2022-02-03 21:02] #35 closed

[2022-02-06 08:07] lixy123 opened #82 "python3 simple_pose.py run error：Unsupported data type in custom op handler: 924963Node number 2 (EdgeTpuDelegateForCustomOp) failed to prepare."
raspi4B + buster + Coral USB Accelerator +Python 3.7.3

All library file new download

pi@pi4:~/project-posenet $ lsb_release -a
No LSB modules are available.
Distributor ID: Raspbian
Description:    Raspbian GNU/Linux 10 (buster)
Release:        10
Codename:       buster

pi@pi4:~/project-posenet $ python3 simple_pose.py
INFO: Initialized TensorFlow Lite runtime.
Traceback (most recent call last)

[2022-02-07 16:02] hjonnala commented on #82
Hi @lixy123 can you please share the following info. Thanks
[code]

[2022-02-07 18:14] hjonnala commented on #81
Hi @jan-kiszka pleae check this page to build Coral libraries for your application: https://coral.ai/docs/notes/build-coral/

Thanks!

[2022-02-07 18:14] #81 closed, assigned to hjonnala

[2022-02-18 08:39] lixy123 commented on #82
I see. It shows that this is a problem of runtime library compatibility.
I downloaded the latest library file. Tell me the library version you use I can check it myself.
Can you tell me the version of the underlying library you use

[2022-02-18 14:08] hjonnala commented on #82
Hi @lixy123  please try with the latest library versions(RuntimeVersion(14), pycoral 2.0.0, tflite_runtime 2.5.0.post1). Thanks!

[2022-02-27 12:39] lixy123 commented on #82
'BuildLabel(COMPILER=6.3.0 20170516,DATE=redacted,TIME=redacted), RuntimeVersion(14)'

report error

'2.0.0'

pi@pi4:~ $ pip3 list | grep tflite
tflite-runtime                  1.14.0

The reason of runtime error is that the version of tflite-runtime is incompatible with pycoral 2.0.0
I download new tflite_runtime from here, and runtime error is solved
https://github.com/google-coral/pycoral/relea

[2022-02-28 14:45] #82 closed, assigned to hjonnala

[2022-03-04 11:11] hyx0329 commented on #23
hi @deep-blue33

in virtual environments, you need to rebuild and install overides of gst-python

this solves my problem, your situration may be different

refs:
- https://github.com/jackersson/gstreamer-python
- http://lifestyletransfer.com/how-to-install-gstreamer-python-bindings/  (see common issues below)

ps. newer gstreamer use meson to build, the old way (using autogen.sh) no longer works

[2022-03-08 18:10] hjonnala commented on #78
Closing this issue as it is not reproducible. Thanks!

[2022-03-08 18:10] #78 closed, assigned to hjonnala

[2022-04-14 17:26] ilonadem opened #83 "default pose model crashing"
### Description

Hi, I am trying to run pose_camera.py with a USB camera and it is crashing at variable times (sometimes it takes 10 minutes and sometimes it takes 10seconds). The only thing I've changed are the frame rate and the resolution (because of the camera specs), but I don't know how to fix this issue because the whole camera display shuts down and I am taken back to the login screen agai

[2022-04-14 17:42] hjonnala commented on #83
Hi, have you tried with any other frame rate and the resolution? Can you please share the frame rate and resolution you are using and the output of below command. Thanks!

`v4l2-ctl --list-formats-ext --device /dev/video1`

[2022-04-14 18:04] ilonadem commented on #83
Running the command gives:

[code]

and this is how I've implemented it in the file:

[code]

[2022-04-14 22:00] hjonnala commented on #83
Can you please share the frame rate and the resolution you are using. Thanks!

[2022-04-15 01:42] ilonadem commented on #83
Using a frame rate of 30 and resolution of 640 x 480

[2022-04-21 15:38] Govraskirill opened #84 "Work in kafka with pose_camera.py"
### Description

Good day. I have the next question, namely: i want to send video from pose_camera.py to kafka broker.
For this goal i should understand where in code_file pose_camera.py or any project files i can take stream with output video with drew pose on top.
For example like for cv2 library:
video = cv2.VideoCapture(path_to_video)
while video.isOpened():
        success, frame = video.read

[2022-04-23 19:08] pakcodee opened #85 "Not able to run pose_camera.py on a video"
### Description

l am trying to run this following command on the dev board

mendel@silly-llama:~/project-posenet$ python3 pose_camera.py --videosrc BenVid.MOV

The goal is to map out the poses of the people in the video but l am getting this error, does anyone have an idea of what could be missing? l am running headless connecting via mdt shell and downloaded fresh project repo without any change

[2022-04-23 19:34] aiwhoo commented on #85
I'm having the same issue too. I'm trying to just process a video on the devboard, but there are no examples of processing videos in the repo---just processing via cameras.

[2022-04-25 19:41] hjonnala commented on #85
Hello @pakcodee project-posenet repo has not been implemented to accept .mov files. Please try changing this [line](https://github.com/google-coral/project-posenet/blob/master/gstreamer.py#L340) as below to accept .mov files. Thanks!

[code]

Reference: https://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good/html/gst-plugins-good-plugins-qtdemux.html

sample files: https://files

[2022-04-25 19:46] hjonnala commented on #83
Seems to be you are using the default values. It should be working fine, not sure why it is not working for you. Have you tried [examples-camera](https://github.com/google-coral/examples-camera/tree/master/gstreamer) repo examples and are you experiencing the same behavior?

[2022-04-28 22:25] pakcodee commented on #85
After adding that line of code and running this is what the output is, the same as before but without the errors
 Gstreamer pipeline:  filesrc location=BenVid.MOV ! qtdemux name=demux  demux.audio_0 ! queue ! decodebin ! audioconvert ! audioresample ! autoaudiosink   demux.video_0 ! queue  ! decodebin ! videoflip video-direction=identity ! tee name=t
               t. ! queue max-size-buffers=1 le

[2022-06-10 17:27] amandalam2000 opened #86 "Anonymizer background overlays all previous poses"
### Description

Anonymizer file is continually overlaying the pose onto the base image. Pose overlays just continually get added to the locked background. I would like it to only show one pose on the background at once.

<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Operating System

Mendel Linux

### Coral Device

Dev Board

### Other Devices

_No response_

### Program

[2022-06-13 21:56] hjonnala commented on #86
I think you are getting output similar to this: https://github.com/google-coral/project-posenet/issues/69#issuecomment-878802080

Please add a --mirror flag, If the camera and monitor are both facing you. This would fix the issue on Dev Board.

With Coral Camera: python3 anonymizer.py --videosrc /dev/video0 --mirror

With USB Camera: python3 anonymizer.py --videosrc /dev/video1 --mirror

Thanks!

[2022-06-14 17:43] amandalam2000 commented on #86
Adding the mirror flag did not fix the problem unfortunately. It created less wireframes on the feed, but still too many

[2022-07-27 21:52] Vetri213 commented on #26
I am having a similar issue even when I am connected to a monitor. Please advise.

This is the output:

/home/mendel/Coral_Pose/project-posenet/gstreamer.py:15: PyGIWarning: Gst was imported without specifying a version first. Use gi.require_version('Gst', '1.0') before import to ensure that the right version gets loaded.
  from gi.repository import GLib, GObject, Gst, GstBase, GstVideo, Gtk
/home

[2022-08-25 19:56] hjonnala commented on #42
Feel free to create new issue if they are any issues with new versions. Thanks!

[2022-08-25 19:56] #42 closed

[2022-10-09 20:47] ilonadem opened #88 "view output on streaming server"
### Can I stream outputs to remote server?

Hi, really cool stuff!

I am currently running ``` pose_camera.py ``` and I have a monitor connected to the coral via HDMI which is great for seeing the segments and key points being picked up by the model. Is it possible to send these outputs straight to a streaming server  I could view in chrome? Would be great not to need an extra monitor for this.

I

[2022-10-12 01:03] ilonadem commented on #88
Hi, actually an update on this:

I'm trying to run the demos (https://coral.ai/docs/dev-board/camera/#view-on-a-monitor) that connect to a USB camera (since this is what I need), but running

[code]
and also

[code]

as well as

[code]

I get the following error:
[code]

I've tried doing ```sudo systemctl restart Weston``` but this hasn't helped.

[2022-10-12 01:06] ilonadem commented on #88
Also, when I run the demo in https://coral.ai/docs/dev-board/get-started/#update-mendel step 7, as per the linked issue, I'm now getting this error:

[code]
This is only fixed when I do a sudo reboot. But the demos with the camera don't work still :(

Sorry for the spam, but any help is really appreciated!!

[2022-10-12 01:21] ilonadem commented on #88
And also, when I do ``` v4l2-ctl --list-formats-ext --device /dev/video1 ``` I get

[code]

[2022-10-12 01:28] ilonadem commented on #88
I have also done ``` export DISISPLAY=:0 ```

[2022-10-12 15:01] hjonnala commented on #88
Have you connected any monitor to the dev board? If not please try edgetpu_classify_server or edgetpu_detect_server commands to view the output on server as mentioned at: https://coral.ai/docs/dev-board/camera/#view-with-a-streaming-server

[2022-10-24 06:15] neilyoung opened #89 "Probably naive question"
### Description

...Would it be possible to estimate the 6DOF pose of the camera from the pose detections of the Coral? I mean rotation and translation vectors.

<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Operating System

Linux

### Coral Device

USB Accelerator

### Other Devices

Rapsberry Pi 4

### Programming Language

Python 3.9

### Relevant Log Output

_No

[2022-10-26 18:48] zain-altaf opened #90 "Question on Usability and Expansion of this repository"
### Description

Hi

I tried out this repo with the Google coral dev board mini and the coral camera and it works really nicely! I was just wondering how I could now go about using it in being able to train a custom model to use in a different setting? I'm quite new to all this computer vision stuff and I don't really know how to go about implementing this repository in custom real-time settings.

[2022-10-27 17:29] hjonnala commented on #90
Hello @zain-altaf it's not possible to train a custom model using this repository. Instead you can  replace this [repo models](https://github.com/google-coral/project-posenet/blob/master/pose_camera.py#L103) with your custom posenet model([train the model, convert to tflite and compile with edgeptu compiler](https://coral.ai/docs/edgetpu/models-intro/)).

Please check with tensorflow team for any

[2022-10-27 20:49] #90 closed, assigned to hjonnala

[2022-10-28 15:01] hjonnala commented on #89
Hello @neilyoung we don't have any example models/demos to estimate  the 6DOF pose of the camera from the pose detections. It might be possible if it can be done with tflite models..

[2022-10-31 17:26] neilyoung commented on #89
I'm unfortunately not the expert, but there is some buzz around "EfficientPose" (even though I couldn't get it running on an Nvidia fitted device). There are some forked project based on this https://github.com/ybkscht/EfficientPose

Not sure, it mentions Keras and no Tensorflow, so it might not fit

[2022-11-01 14:43] zain-altaf opened #91 "Saving videos to a disc/to a Raspberry Pi"
### Description

Hi

I'm using the google coral mini dev board and a RPi 3. I got the basics to work, including the camera capture and real time anonymization of person with the stick figure and key points showing correctly, it worked flawlessly. I was wondering, now that I have that part figured out, how could I take video footage that is being captured by the camera and save it locally on my RPi

[2022-11-04 04:48] hjonnala commented on #89
[keras](https://keras.io/about/) is high level API of Tensorflow2. It shouldn't be a problem. But I am not sure if [this model](https://github.com/ybkscht/EfficientPose) can be converted to int8 tflite and compatible with [EdgeTPU](https://coral.ai/docs/edgetpu/models-intro/#model-requirements).

[2022-11-04 07:13] neilyoung commented on #89
Thanks, this is very helpful. Do you have some resources where to learn how to attempt such a conversion? I would also like to learn, how to retrain a 90 object model to "person" only, since this is the only "object" I'm interested in. I expect to see a boost in inference rate then.

[2022-11-04 08:55] hjonnala commented on #89
Please check the [tutorials](https://github.com/google-coral/tutorials) examples and [tflite](https://www.tensorflow.org/lite/performance/post_training_quantization) documentation to convert the tensorflow models to tflite. Also check with the [tensorflow team](https://www.tensorflow.org/lite/tutorials/pose_classification) on how to reatrain a 90 object model. Thanks!

[2022-11-07 16:47] #89 closed, assigned to hjonnala

[2022-11-08 19:15] zain-altaf opened #92 "anonymizer.py help"
### Description

Hi

In the READ.ME it says that by using anonymizer.py, you can safely store and analyze movements by making the movement detection anonymous. How does one go about taking the video footage being shot with a coral camera for example and store these movement patterns in an MP4 or MOV file that can be used to train a tflite model?

Thanks!

<details><summary>Click to expand!</summar

[2022-11-10 17:33] hjonnala commented on #91
This would require changes to gstremaer pipeline.

For USB accelerator please update the pipeline as bleow at: https://github.com/google-coral/project-posenet/blob/master/gstreamer.py#L347
[code]

For some reasons above pipeline does not work with Dev Board and Dev Board Mini. For those boards below pipelne can be used, which save the images instead video file.

[code]

You may see some error like

[2022-11-10 17:34] hjonnala commented on #92
closing due to the duplicate issue at: https://github.com/google-coral/project-posenet/issues/91

[2022-11-10 17:34] #92 closed, assigned to hjonnala

[2022-11-14 18:19] zain-altaf commented on #91
Thank you! I was able to use the bottom code snippet to get images saved to my coral mini! I can now use mdt pull to access them on my raspberry pi.

[2022-11-14 18:19] #91 closed, assigned to hjonnala

[2022-11-14 19:45] zain-altaf opened #93 "frames overlaying each other"
### Description

Hi there, I wanted to save multiple frames from the anonymizer.py file for training a model. Was there a way to completely get rid of overlaying poses and only capture current frames in real time? I did try the --mirror, it did in fact reduce the number of frames but it never got rid of all of them and allowing to only capture one wire frame of the individual.

<details><summary>C

[2022-11-14 22:37] maiermic commented on #67
@hjonnala The help says

[code]

but how do you pass the image, if it is a boolean flag? If I use `--videosrc` I get a similar issue as #85

[code]

[2022-11-15 14:19] hjonnala commented on #93
Feel free to replace the [identity](https://github.com/google-coral/project-posenet/blob/master/gstreamer.py#L358) with other methods mentioned at: https://gstreamer.freedesktop.org/documentation/video/gstvideo.html?gi-language=c#GstVideoOrientationMethod.
I think, 180 would work.

[2022-11-15 15:59] hjonnala commented on #67
Hi @maiermic for single image please try [simple_pose.py](https://github.com/google-coral/project-posenet/blob/master/simple_pose.py).
[jpeg](https://github.com/google-coral/project-posenet/blob/master/gstreamer.py#L336) flag is used to modify the gstreamer pipeline. It still required camera input as video source.

[2022-11-15 19:09] maiermic commented on #67
@hjonnala I'd like to get a drawing of the pose (e.g. like `pose_camera.py`). [simple_pose.py](https://github.com/google-coral/project-posenet/blob/master/simple_pose.py) only prints the coordinates.

[2022-11-15 21:36] zain-altaf commented on #93
Hi @hjonnala I replaced identity with 180 in the statement you mentioned. I then went on to run python3 anonymizer.py --mirror and the images were still overlaying, I'm guessing since the if statement makes it horizontal. I decided to then try and run python3 anonymizer.py without the mirror flag and the dev board mini is only able to detect my head. It can't detect my body, arms or legs. FYI sinc

[2022-11-15 21:41] zain-altaf commented on #93
Hi @hjonnala I replaced identity with 180 in the statement you mentioned. I then went on to run python3 anonymizer.py --mirror and the images were still overlaying, I'm guessing since the if statement makes it horizontal. I decided to then try and run python3 anonymizer.py without the mirror flag and the dev board mini is only able to detect my head. It can't detect my body, arms or legs. FYI sinc

[2022-11-16 01:34] hjonnala commented on #67
please try replacing the sinple_pose.py with the script at:  https://github.com/hjonnala/snippets/blob/main/posenet/simple_pose.py

[2022-11-16 01:43] hjonnala commented on #93
Have you tried any other methods mentioned at: https://gstreamer.freedesktop.org/documentation/video/gstvideo.html?gi-language=c#GstVideoOrientationMethod ?

[2022-11-16 19:05] zain-altaf commented on #93
Hi again, today I spent some time going through most of the other methods mentioned on the documentation. Most of the other methods did not give me a good overall image of what was happening, sometimes the key points weren't being displayed while sometimes they were. When I entered the "auto" method it seemed to be okay but it still had a lot of overlaying frames from previous frames. When I enter

[2022-11-18 19:38] maiermic commented on #67
@hjonnala Thank you :+1:

[2022-11-22 10:48] hjonnala commented on #93
Hmm..does just changing the pose detections without persons form pose camera works for you?

1. `mkdir images`
2. Initialize` i=1 `at: https://github.com/google-coral/project-posenet/blob/master/pose_camera.py#L132
3. https://github.com/hjonnala/snippets/blob/main/posenet/pose_camera.py#L145
4. and add the below lines after the for loop at: https://github.com/google-coral/project-posenet/blob/mast